/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */
$font_size_info_panel: 1.5em;

/**
* Color-Codes
**/

// Header background
$top_navbar_background: rgb(72, 136, 103);
$top_navbar_background_light: rgba(72, 136, 255, 0.4);